* {
  box-sizing: border-box;
  margin: 0;
}

.header, .footer {
  background-color: lightgray;
  padding: 2%;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

label{
  font-size: 1em;
}

.footer{
  font-size: small;
}

.main, .section {
  width: 100%;
  background-color: blue;
  padding: 2%;
  display: table;
}
.main {
  border-bottom: 1px dashed lightgray;
}
.gallery img {
  display: block;
  background-color: lightblue;
  max-width: 98%;
  border: 1px solid lightblue;
  margin: 1%;
}
.gallery{
  float: left;
}

.form{
  background-color: #203050;
  display: block;
  padding: 2%;
  color: lightgray;
}

.field-wrap input{
  display: block;
  width: 100%;
}
.message-wrap {
  display: table;
  width: 100%;
}
.txtarea {
  width: 100%;
  overflow: hidden;
  resize: none;
}
.field-wrap {
  padding-bottom: 1%; 
}
.button-wrap{
  text-align: center;
  padding-top: 1%;
}

.button, .button-res{
  display: inline-block;
  width: 46%;
  margin: 1%;
}


@media all and (min-width: 30em) {
  .gallery {
    max-width: 50%;
  }
  .field-wrap {
    float: left;
    width: 49%;
  }
  .field-wrap:nth-child(1){
    margin-right: 2%;
  }
  .field-wrap:nth-child(3){
    margin-right: 2%;
  }
}

@media all and (min-width: 50em) {
  .gallery {
    max-width: 25%;
  }
  h1 {
    font-size: 2.83em;
  }
  h2 {
    font-size: 2em;
  }
}