* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

.header, .footer {
  background-color: lightgray;
  padding: 2%;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

label{
  font-size: 1em;
  padding-left: 10px;
}

.footer{
  font-size: small;
}

.main, .section {
  width: 100%;
  background-color: blue;
  padding: 2%;
  display: table;
}
.main {
  border-bottom: 1px dashed lightgray;
}
.gallery img {
  display: block;
  background-color: lightblue;
  max-width: 98%;
  border: 1px solid lightblue;
  margin: 1%;
}
.gallery {
  float: left;
}

.form {
  background-color: #203050;
  display: block;
  padding: 2%;
  color: lightgray;
  border-radius: 10px;
}

input,.txtarea{
  color: white;
  display: block;
  font-size: 100%;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  border: 1px solid lightgray;
  border-radius: 10px;
}
input:focus,input:hover,.txtarea:focus,.txtarea:hover {
	outline:0;
	border-color: #01adba;
}
.message-wrap {
  display: table;
  width: 100%;
}
.txtarea {
  overflow: hidden;
  resize: vertical;
  font-family: inherit;
}
.field-wrap {
  padding-bottom: 1%; 
}
.button-wrap {
  text-align: center;
  padding-top: 1%;
}

.button, .button-res {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 100%;
  color: white;
  letter-spacing: 1px;
  margin: 1% 0;
  width: 100%;
  padding: 0;
}
.button {
  background-color: #01adba;
}
.button-res {
  background-color: gray;
}
.button:hover,.button:focus,.button-res:hover,.button-res:focus {
  background-color: #0aa0bb;
}

@media all and (min-width: 30em) {
  .gallery {
    max-width: 50%;
  }
  .field-wrap {
    float: left;
    width: 49%;
  }
  .field-wrap:nth-child(1){
    margin-right: 2%;
  }
  .field-wrap:nth-child(3){
    margin-right: 2%;
  }
  input,.txtarea{
    font-size: 140%;
  }
  .button,.button-res{
    width: 46%;
    margin: 1%;
    padding: 10px;
    font-size: 140%;
  }
}

@media all and (min-width: 50em) {
  .gallery {
    max-width: 25%;
  }
  h1 {
    font-size: 2.83em;
  }
  h2 {
    font-size: 2em;
  }
}